@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .max-container {
    @apply  mx-auto max-w-[1540px];
  }

  .padding-container {
    @apply px-6 lg:px-6 xl:px-0 2xl:px-0;
  }
  .custom-screen {
    @apply max-w-screen-xl mx-auto px-4 md:px-8;
  }
}
